body {
    background-color: aqua;
    display: grid;
    place-content: center;
    height: 100vh;
    margin: 0;
    font-family: "Monaco", "Helvetica", "SansSerif";
}

.container {
    background-color: #f1ebeb;
    border-radius: 10%;
    padding: 20px; /* Немного отступа для элементов внутри контейнера */
    text-align: center; /* Выравнивание текста по центру */
}

.container h1,
.container p,
.container section {
    margin-bottom: 20px; /* Отступ между элементами внутри контейнера */
}

.container h1,
.container a {
    color: rgb(51, 153, 255);
}

.container p {
    color: rgba(116, 111, 114, 0.83);
}

input[type="text"], input[type="password"], input[type="email"],
label,
button {
    margin-bottom: 10px; /* Отступ между инпутами, чекбоксом и кнопкой */
}

label {
    display: flex; /* Используем flexbox для выравнивания элементов */
    align-items: center; /* Выравниваем элементы по вертикали */
}

input[type="text"], input[type="password"], input[type="email"] {
    width: 300px; /* Задать ширину в пикселях */
    height: 40px; /* Задать высоту в пикселях */
    padding: 10px; /* Отступы вокруг текста внутри поля */
    border: 1px solid #ccc; /* Граница поля */
    border-radius: 5px; /* Скругленные углы */
    font-size: 16px; /* Размер шрифта */
}

input[type="checkbox"] {
    margin-right: 10px; /* Добавляем отступ справа для чекбокса (по желанию) */
    transform: scale(1.5);
}

footer, button {
    margin-top: 20px; /* Отступ сверху для футера */
}

button {
    display: block; /* Делаем кнопку блочным элементом, чтобы она занимала всю ширину родительского контейнера */
    width: 100%; /* Устанавливаем ширину кнопки на 100% ширины родительского контейнера */
    padding: 10px; /* Отступы вокруг текста внутри кнопки (по желанию) */
    text-align: center; /* Выравнивание текста по центру внутри кнопки */
    background-color: #14e870; /* Цвет фона кнопки */
    color: #fff; /* Цвет текста на кнопке */
    border: none; /* Убираем границу кнопки */
    border-radius: 5px; /* Скругленные углы */
    font-size: 16px; /* Размер шрифта */
    cursor: pointer; /* Изменяем курсор при наведении */
    margin: auto;
}
